
body{
    background-color: #121212;
    color: #CFDBD5;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.body-container{
    display:  flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    column-gap: 5%;
}


.left{
    width:20%;
    background-color: #1E1E1F;
    height: 85%;
    border-radius: 20px;
    box-shadow: 0 0 3px #CFDBD5;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.right{
    width: 60%;
    background-color: #1E1E1F;
    height: 85%;
    border-radius: 20px;
    box-shadow: 0 0 3px #CFDBD5;
    position: relative;
}



.section{
    display:none
}

.active-section{
    display:block
}



.about-content,
.resume-content,
.portfolio-content{
    margin: 2% 5%;
} 



.title{
    font-size: 1.8rem;
    font-weight: bold;
    width: fit-content;
}

.about-content hr,
.resume-content hr,
.portfolio-content hr{
    border: 2px solid #F5CB5C;
    border-radius: 5px;
    margin-top: 10%;
}

.paragraph{
    margin-top: 3%;
    color: #CFDBD5;
    font-size: 1.2rem;
    text-align: justify;
    line-height: 2;
}


.sub-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 5%;
    width: fit-content;

}

.skill-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    column-gap: 3%;
}

.skill-item{
    background-color: #CFDBD5;
    width: fit-content;
    color: #121212;
    font-weight: 700;
    padding: 0.5% 1%;
    border-radius: 10px;
    margin-bottom: 2%;
    box-shadow: 0 0 3px #121212;
}

.skill-item:hover{
    background-color: #F5CB5C;
}

.resume-container{
    margin-top: 3% ;
    display: grid;
    grid-template-columns: repeat(2, 50%);

}

.header{
    display: flex;
    align-items: center;
    grid-column: span 2;
}

.header span{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 3%;
    letter-spacing: 1.5;
}

.list {
    list-style-type: disc; 
    margin-left: 4%;
}


.list li::marker {
    font-size: 2rem; 
    color: #F5CB5C; 
    z-index: 2;

}

.list li{
    padding-left: 5%;
    margin-bottom: 10%;
    z-index: 2;
}



.item p{
    margin:0;
    margin-top: 1%;
}

.item h3{
    margin: 0;
    margin-bottom: 3%;
}

.time-frame{
    color: #F5CB5C;
    font-size: 0.8rem;
}


.portfolio-container{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5%;
}

.portfolio-item h3{
    margin: 0;
    margin-top: 5%;
}
.portfolio-item p{
    margin: 0;
    margin-top: 1%;
}

.portfolio-item img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.image-container{
    height: 200px;
    width: 350px;
    border-radius: 20px;
}

.image-container:hover{
    transform: scale(1.05);
    transition: transform 0.5s;
}

.portfolio-item:hover{
    color: #F5CB5C;
}

.item-overlay{
    opacity: 0;
    height: 200px;
    width: 350px;
    border-radius: 20px;
    background-color: rgba(1, 1, 1, 0.4);
    position:absolute;
    top: fixed;
    margin-top: -200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-overlay:hover{
    opacity: 1;
    transition: opacity 0.5s;
}

.item-overlay img{
    width: 50px;
    height: 70px;
}



@media (max-width: 1400px){
 
    .title{
        font-size: 1.5rem;
    }

    .paragraph{
        font-size: 1rem;
    }

    .sub-title{
        font-size: 1.2rem;
    }

    .skill-item{
        font-size: 0.8rem;
    }

    .header span{
        font-size: 1.2rem;
    }

    .header img{
        width: 50px;
        height: 50px;
    }

    .list {
        margin-left: 1%;
    }
    
    
    .list li::marker {
        font-size: 1.7rem; 
        color: #F5CB5C; 
        z-index: 2;
    
    }
    
    
    .item p{
        font-size: 0.8rem;
    }

    .item h3{
        font-size: 1rem;
    }

    .time-frame{
        font-size: 0.6rem;
    }

    .portfolio-item h3{
        font-size: 1rem;
    }
    .portfolio-item p{
        font-size: 0.8rem;
    }

    
}


@media (max-width: 1366px){
    
    body{
        overflow-y: scroll;
        scroll-behavior: smooth;    
    }

    .body-container{
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: relative;
        justify-content: flex-start;
        overflow: scroll;
    }

    .left{
        width: 90%;
        margin-top: 5%;
        height: fit-content;
        position: relative;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap:wrap;
    }

    .right{
        width: 90%;
        margin-top: 5%;
        margin-bottom: 10%;
        height: fit-content;
    }



    .section-content{
        margin: 5%;
    }

    .title{
        font-size: 1.4rem;
    }
    
    .paragraph{
        font-size: 1rem;
    }

    .sub-title{
        font-size: 1.1rem;
    }

    .skill-item{
        font-size: 0.8rem;
        padding: 1% 3%;
    }

    .education{
        margin-top: 2%;
    }

    .resume-container{
        display: grid;
        grid-template-columns : 100%;

    }

    .header img{
        width: 50px;
        height: 50px;
    }

    .header span{
        font-size: 1.1rem;
    }

    .work-experience{
        margin-top: 5%;
    }


    .list {
        list-style-type: disc; 
        margin-left: 1%;
    }
    
    
    .list li::marker {
        font-size: 1.5rem; 
    }

    .list li{
        margin-bottom: 5%;
    }

    .item p{
        font-size: 0.7rem;
    }
    
    .item h3{
        font-size: 1rem;
    }
    
    .time-frame{
        font-size: 0.6rem;
    }


    
    .portfolio-item h3{
        font-size: 1rem;
    }
    .portfolio-item p{
        font-size: 0.8rem;
    }
    
    .portfolio-item img{
        border-radius: 10px;
    }
    
    .image-container{
        height: 140px;
        width: 200px;
        border-radius: 10px;
    }
    

    .item-overlay{
       
        height: 140px;
        width: 200px;
        border-radius: 10px;
        margin-top: -140px;
    }

    .item-overlay img{
        width: 25px;
        height: 35px;
    }
    

}

@media (max-width: 480px){
    .paragraph{
        font-size: 0.8rem;
    }

    .header img{
        width: 40px;
        height: 40px;
    }

    .header span{
        font-size: 0.95rem;
    }


    .list {
        margin-left: 0%;
    }
    



    .item p{
        font-size: 0.5rem;
    }
    
    .item h3{
        font-size: 0.8rem;
    }
    
    .time-frame{
        font-size: 0.4rem;
    }

}